*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card-container{
    width: 60%;
    max-width: 500px;
    border: 2px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(237, 227, 247);
}
.slider{
    display: flex;
    gap: 10px;
}
.card{
    min-width: 150px;
    height: 200px;
    background-color: #007b;
    color: aliceblue;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.card img{
    height:200px ;
    min-width: 150px;
    border-radius: 10px ;
}
  